#First time opening, run in project directory:
#Run in powershell as Admin:
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process

#Run in cmd:
python -m venv venv
.\venv\Scripts\activate
pip install fastapi "uvicorn[standard]" python-dotenv langchain langchain-cohere langchain-pinecone langchain_community pypdf TextLoader psutil
npm install react-markdown

#Next time onwards, in project directory before running:
.\venv\Scripts\activate

#create a .env(just '.env' no file names like 'key.env' or anything like that) file in the current directory
#Sample .env:
COHERE_API_KEY="your_cohere_api_here"
PINECONE_API_KEY="your_pinecone_api_here"

#If documents are not indexed, run backend/index_documents

#Run backend/main.py
#Bring backend online(from backend directory): 
uvicorn main:app --reload

#If no venv was used:
python -m uvicorn main:app --reload

#After backend is online open frontend/chatbot-frontend/ and run this command:
npm run dev