#First time opening, run in project directory:
#Run in powershell as Admin:
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process

#Run in cmd:
python -m venv venv
pip install fastapi "uvicorn[standard]" python-dotenv langchain langchain-cohere langchain-pinecone langchain_community pypdf
.\venv\Scripts\activate

#Next time onwards:
.\venv\Scripts\activate


#Sample .env:
COHERE_API_KEY="your_cohere_api_here"
PINECONE_API_KEY="your_pinecone_api_here"

#Run backend: 
uvicorn main:app --reload